<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.jaeho.mybatis.mapper.BoardMapper">
	<!-- 게시판 추가하기 -->
	<insert id="insertBoard" parameterType="BoardDTO">
		INSERT INTO board
		(b_title,b_writer,b_detail,b_date)
		VALUES(#{b_title},#{b_writer},#{b_detail},SYSDATE())
	</insert>
	<!--게시판 리스트 출력 -->
	<select id="listBoard" resultType="BoardDTO">
		SELECT b_no,b_title,b_detail,b_writer,b_date,b_count,
		(SELECT count(*) FROM reply WHERE b_no = b.b_no) AS recnt 
		 FROM board b
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if
				test="searchOption=='writer' and keyword != null and keyword != '' ">
				AND b_writer like CONCAT('%', #{keyword}, '%')
			</if>
			<if
				test="searchOption=='content' and keyword != null and keyword != '' ">
				AND b_detail like CONCAT('%', #{keyword}, '%')
			</if>
			<if
				test="searchOption=='title' and keyword != null and keyword != '' ">
				AND b_title like CONCAT('%', #{keyword}, '%')
			</if>
		</trim>
		ORDER BY b_no DESC
		LIMIT ${start-1},#{end}
		<!-- SELECT * FROM board LIMIT ${pageBegin-1},#{pageScale} -->

	</select>
	<!--전체 글의 행개수 읽어오기 -->
	<select id="getBoardListCnt" resultType="int">
		SELECT count(*) AS count
		FROM board
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="keyword != null and keyword != '' ">
				<if test="searchOption=='writer'">
					AND b_writer like CONCAT('%', #{keyword}, '%')
				</if>
				<if test="searchOption=='content'">
					AND b_detail like CONCAT('%', #{keyword}, '%')
				</if>
				<if test="searchOption=='title'">
					AND b_title like CONCAT('%', #{keyword}, '%')
				</if>
			</if>
		</trim>
	</select>
	<!-- 게시판 상세보기 -->
	<select id="detailBoard" resultType="BoardDTO">
		SELECT * FROM board WHERE
		b_no = #{b_no}
	</select>
	<!--게시글 삭제 -->
	<delete id="delete">
		DELETE
		FROM board
		WHERE b_no=#{b_no}
	</delete>
	<!--게시글 수정 -->
	<update id="update">
		UPDATE board SET b_title =#{b_title},
		b_detail =
		#{b_detail},
		b_writer=#{b_writer},
		b_date = now()
		WHERE b_no = #{b_no};
	</update>
	<!-- 조회수 증가 -->
	<update id="updateCount" parameterType="int">
		UPDATE board SET b_count
		= b_count+1
		WHERE b_no = #{b_no}
	</update>
</mapper>